<a href="https://colab.research.google.com/github/tranmai31231020941-pixel/250819/blob/main/py250819.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **250819**

compiler

In [13]:
%%writefile first.cpp
#include <stdio.h>

int main(void) {
  int a = 27, b = 6, c;
  c = a % b;
  printf("The value of c is %d.\n", c);
  return 0;
}

Overwriting first.cpp

In [14]:
!g++ first.cpp -o first
!./first

The value of c is 3.

Practice

In [15]:
print("hello, world")

hello, world

In [16]:
score = 80;
if score >=60 :
  print("Pass")

Pass

In [17]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [18]:
x=2
y=x+1
print(f'x={x}, y={y}')
print('x=%d, y=%d' % (x, y))

x=2, y=3
x=2, y=3

In [23]:
user_input = input("Please enter some data: ")
print(f"The type of the entered data is: {type(user_input)}")

Please enter some data: 2
The type of the entered data is: <class 'str'>

## Ép kiểu

In [20]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

## BMI

In [26]:
# Tính BMI
height_cm = int(input("Nhập chiều cao (cm) "))
weight_kg = int(input("Nhập cân nặng (kg) "))
# process
height_m = height_cm / 100
BMI = weight_kg / (height_m ** 2)
# output
print("BMI của bạn: " + str(round(BMI,1)))

Nhập chiều cao (cm) 168
Nhập cân nặng (kg) 56
BMI của bạn: 19.8

## Future value

In [28]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

## Data structure

In [30]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x))

x = ("apple", "banana", "cherry") #tuple
print(x, type(x))

x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x))

x = {"apple", "banana", "cherry"} #set
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'cherry', 'apple', 'banana'} <class 'set'>

In [39]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[1:3])
print(x[:0:-1])

4
60
70
90
[70, 80]
[90, 80, 70]

In [43]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}

for account_number, account_info in accounts.items():
  print("Account number:", account_number)
  print("Account name:", account_info["name"])
  print("Account balance:", account_info["balance"])
  print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

## If elif else

In [48]:
# Python if elif else
score = int(input("Nhập điểm: "))
grade = ""
if score >=90:
 grade = "A"
elif score >= 80:
 grade = "B"
elif score >= 70:
 grade = "C"
elif score >= 60:
 grade = "D"
else:
 grade = "E"
print(grade)

Nhập điểm: 89
B

## For loops

In [49]:
# for loops
for i in range(1,10):
  for j in range(1,10):
    print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

## While loops

In [50]:
# while loops
age = 10
while age < 20:
  print(age)
  age = age + 1

10
11
12
13
14
15
16
17
18
19

## Function def

In [52]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
  return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87